@import "config";
//@import "default";
@import "utils";

body {
    background: $bg;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.moka-widget {
    @include transitions("opacity .2s ease-in-out, background-color .2s ease-in-out, color .2s ease-in-out");
    z-index: inherit;
}

.moka-widgetlistitem.moka-current, .moka-tab.moka-current, .moka-view.moka-current > .moka-widget {
    color: $widget_current_fg;
    background-color: $widget_current_bg;
}

input, textarea, .moka-tabs, .moka-input, .moka-close, .moka-title {outline: 0}

.moka-window .moka-title, .moka-tab, .moka-widgetlistitem, .moka-button, .moka-imageview {
    &.moka-focus {
        color: $widget_selected_fg;
        background-color: $widget_selected_bg;
    }
}
// hover
.moka-window .moka-title, .moka-tab, .moka-tabs, .moka-widgetlistitem, .moka-button, .moka-imageviewer {
    &:hover {
        color: $widget_hover_fg;
        background-color: $widget_hover_bg;
    }
}
.moka-focus .moka-keyhint {
    text-decoration: underline;
}
.moka-label {
    color: transparentize($widget_fg, 0.2);
    font: $font_general;
    padding: 0.5em 0.5em;
    @include inset-text();
}
.moka-current.moka-label {
    color: $widget_current_fg;
    @include inset-text($widget_current_fg);
}
.moka-focus.moka-label {
    color: $widget_selected_fg;
    @include inset-text($widget_selected_fg);
}

.moka-buttonbox {
    width: 95%;
    text-align: right;
    > .moka-button {
        &.moka-first {
            @include rounded(2em, top, left);
            @include rounded(2em, bottom, left);
        }
        &.moka-last {
            @include rounded(2em, top, right);
            @include rounded(2em, bottom, right);
        }
    }
}
.moka-button.moka-label {
    padding: 0.15em 0.4em;
    @include inset-text()
}
.moka-button {
    cursor: pointer;
    display: inline-block;
    text-align: center;
    margin: 6px 2px;

    border: 1px solid $widget_bg*0.6;

    @include box-shadow(inset 0 0 5px transparentize($widget_bg*1.5, 0.3));

    @include linear-gradient(-90,
        ($widget_bg*1.1) +","+
        ($widget_bg) +","+
        ($widget_bg*0.8)
    );

    &:hover {
        color: $button_hover_fg;
        @include box-shadow(inset 0 0 10px $button_hover_bg);
    }
    &.moka-focus {
        &.moka-label {
            color: $button_selected_fg;
            @include inset-text($button_selected_fg);
        }
        background-color: $button_selected_bg;
        //@include box-shadow(inset 0 0 10px $button_selected_bg);
        @include linear-gradient(-90,
            ($button_selected_bg*1.1) +","+
            ($button_selected_bg) +","+
            ($button_selected_bg*0.8)
        );
    }
}
.moka-lineedit input, .moka-textedit textarea {
    color: $edit_fg;
    background-color: $edit_bg;
    border-color: $widget_bg * 1.6;
    text-shadow: white 0 0 0;

    font: $font_edit;
    margin: 0.2em 0.5em;

    @include inset();

    &.moka-focus {
        color: $edit_focused_fg;
        background-color: $edit_focused_bg;
        text-shadow: black 0 0 0;
    }
}
.moka-container {
    margin: 3px;
    &.moka-vertical{
        float: left;
    }
    &.moka-horizontal > .moka-widget{
        display: inline;
    }
}
.moka-tabs {
    .moka-tab {
        border: 1px solid $widget_bg*0.7;
        .moka-focus {
            color: $widget_selected_fg;
            background-color: $widget_selected_bg;
        }
    }
    &.moka-horizontal {
        padding:0.5em;
        padding-bottom:0;

        > .moka-tab {
            border-bottom:0;
            display: inline;

            /* don't put tab on multiple lines */
            display: inline-block;
            white-space: nowrap;

            padding: 0.2em 0.3em;
            margin: 0.4em 0.5em 0 0.5em;

            @include rounded($tab_radius, top, left);
            @include rounded($tab_radius, top, right);
            @include box-shadow(0 -2px 4px transparentize($widget_bg*0.4, 0.8));

            padding-bottom: 1em;
        }
    }
    &.moka-vertical {
        float: left;

        > .moka-tab {
            border-right:0;
            display: block;

            margin: 1.2em 0 1.2em 0.8em;

            @include rounded(0, top, left);
            @include rounded(0, top, right);
            @include rounded($tab_radius, top, left);
            @include rounded($tab_radius, bottom, left);
            @include box-shadow(-2px 0 4px transparentize($widget_bg*0.4, 0.8));

            padding: 0.3em;
            padding-right: 1em;
        }
    }
}
.moka-pages {
    float: left;
}
.moka-widgetlist {
    margin:auto;
    padding: 1em;
    text-align: left;

    &.moka-focus .moka-widgetlistitem.moka-current {
        color: $widget_selected_fg;
        background-color: $widget_selected_bg;
    }
}
.moka-widgetlistitem {
    &:nth-child(even) {
        background-color: $widget_bg*1.05;
    }
    &, &:nth-child(even) {
        padding-top: 0.2em;
        padding-bottom: 0.2em;
        margin: 0.3em;
        @include rounded($item_radius);

        &.moka-focus {
            background-color: $widget_selected_bg;
        }
        &.moka-current {
            background-color: $widget_current_bg;
        }
        &:hover {
            background-color: $widget_hover_bg;
        }
    }
}
.moka-viewer, .moka-viewer .moka-table {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.moka-viewer:not(.moka-layout-1x1) .moka-view > .moka-widget {
    border: 2px solid transparent;
}
.moka-viewer:not(.moka-layout-1x1) .moka-view.moka-focus > .moka-widget {
    color: $title_selected_fg;
    //background-color: $title_selected_bg;
    background-color: transparent;
    border: 2px solid $title_selected_bg;
}
.moka-viewer td {
    text-align: center;
    margin:0;padding:0;
}
.moka-viewer .moka-view {
    display:inline-block;
}
.moka-viewer:not(.moka-layout-1x1) .moka-imageview img {
    padding: $imageview_padding;
    // fixme: strange additional bottom padding
    padding-bottom: 0;
}
.moka-viewer .moka-table {margin:auto}
.moka-window {
    border: 1px solid black;
    opacity: $window_opacity;

	z-index: $window_layer; /* on top */

    position: absolute;

    background-color: $widget_bg;
    @include rounded(5px);
    @include outset();
    @include rounded($window_radius);
    .moka-body {
        overflow: auto;
    }
    .moka-title, .moka-body {
        margin: 3px 3px;
    }
    .moka-title {
        font: $font_header;
        padding: 0.1em 0.5em;

        color: $title_fg;
        background-color: $title_bg;
        @include rounded($title_radius);
        @include inset();

        .moka-label {
            color: $title_fg;
            display:inline;
            text-shadow:transparent 0 0 0;
        }
    }
    // focused window on top
    &.top_window {opacity: $top_window_opacity;}
    &.moka-focus {opacity: $focused_window_opacity;}
    &.moka-focus {
        z-index: $top_window_layer;
        .moka-title {
            color: $title_selected_fg;
            .moka-label {
                color: $title_selected_fg;
            }
            background-color: $title_selected_bg;
            &:focus {
                color: $title_focused_fg;
                .moka-label {
                    color: $title_focused_fg;
                }
                background-color: $title_focused_bg;
            }
        }
    }
    &:hover {
        opacity: $focused_window_opacity;
    }
    // button characters at: http://www.utf8-chartable.de/unicode-utf8-table.pl
    .moka-window-button {
        opacity: 0.6;
        display:inline;
        &:hover, &:focus {
            opacity: 1;
            color: white;
            text-shadow: #ddd 0 0 7px;
        }
    }
    .moka-close {
        &:before {
          content: '\2297';
          //content: '\22A0';
        }
    }
    .moka-maximize {
        &:before {
          content: '\2299';
          //content: '\22A1';
        }
    }
}

#moka-notification-layer {
    position: fixed;
    z-index: $notification_layer;
    @if $notification_x == right {
        right: 0;
    } @else {
        left: 0;
    }
    @if $notification_y == bottom {
        bottom: 0;
    } @else {
        top: 0;
    }
}

.moka-notification {
    margin: 0.5em;
    white-space: nowrap;

    //text-shadow: $notification_bg*0.8 1px 1px 1px;

    color: $notification_fg;
    background-color: $notification_bg;
    padding: 0.5em 1.5em;

    border: 2px solid $widget_bg*0.5;

    @include box-shadow(2px 2px 5px rgba(0,0,0,0.3));
    @include rounded($notification_radius);
    //@include transitionsx("opacity 0.5s ease-in-out, background-color 1.5s ease-in-out");

    opacity: $notification_opacity;
    &:hover {opacity:1}
}

