/* serif font */
@import url('http://fonts.googleapis.com/css?family=Crimson+Text');
$font: 'Crimson Text', Gentium, 'Liberation Serif', serif;

/* sans-serif font */
@import url('http://fonts.googleapis.com/css?family=Molengo');
$font_sans: 'Molengo', sans-serif;

/* monospace font */
@import url('http://fonts.googleapis.com/css?family=Inconsolata');
$font_mono: Inconsolata, Consolas, monospace;

$font_general: 11pt $font_sans;
$font_header: 11pt $font_sans;

$bg: #444 url('img/bg.png') repeat;
$fg: #eee;

// widget colors
$widget_fg: white;
$widget_bg: #444;
// selected
$widget_selected_fg: white;
$widget_selected_bg: transparentize(red, 0.3);
// current
$widget_current_fg: white;
$widget_current_bg: transparent;
// hover
$widget_hover_fg: white;
$widget_hover_bg: transparentize($widget_selected_bg, 0.4);

$selection_bg: $widget_selected_bg;

// button
$button_selected_fg: white;
$button_selected_bg: transparentize($widget_selected_bg, 0.2);
$button_hover_fg: white;
$button_hover_bg: transparentize($button_selected_bg, 0.2);

// text edit
$font_edit: 11pt $font_mono;
$edit_bg: opacify($widget_bg, 1)*3;
$edit_fg: white;
// focused
$edit_focused_bg: $edit_bg*1.2;
$edit_focused_fg: #555;

$imageview_padding: 4px;

$title_fg: white;
$title_bg: black;
$title_selected_fg: white;
$title_selected_bg: $widget_selected_bg;
$title_focused_fg: $title_selected_fg;
$title_focused_bg: opacify($widget_selected_bg, 1)+#444;

$window_layer:3;
$top_window_layer:9999;
$window_opacity: 0.4;
$focused_window_opacity: 1;
$top_window_opacity: 0.7;

$selection_transparency: 0.3;

$tab_radius: 4px;
$item_radius: 3px;
$title_radius: 6px;
$window_radius: 8px;

