/* serif font */
//@import url('http://fonts.googleapis.com/css?family=Crimson+Text')

/* sans-serif font */
@import url('http://fonts.googleapis.com/css?family=Molengo')

/* monospace font */
@import url('http://fonts.googleapis.com/css?family=Inconsolata')

//$font_sans: 'Crimson Text', Gentium, 'Liberation Serif', serif
$font_sans: 'Molengo', sans-serif
// general font
$font_general: 11pt $font_sans
// font for headers and titles
$font_header: 11pt $font_sans
// monospaced font
$font_mono: Inconsolata, Consolas, monospace

$bg: #444 url('img/bg.png') repeat
$fg: #eee

$url_fg: #620

$use_inset_text: true
//$use_inset_text: false

// widget colors
$widget_fg: black
$widget_bg: #e0d6b0
// selected
$widget_selected_fg: black
$widget_selected_bg: transparentize(#da4, 0.3)
// current
$widget_current_fg: transparentize($widget_selected_fg, 0.2)
$widget_current_bg: transparentize($widget_selected_bg, 0.3)
// hover
$widget_hover_fg: black
$widget_hover_bg: transparentize($widget_selected_bg, 0.4)

$selection_bg: $widget_selected_bg

// button
$button_selected_fg: black
$button_selected_bg: transparentize($widget_selected_bg, 0.2)
$button_hover_fg: black
$button_hover_bg: transparentize($button_selected_bg, 0.2)
// radius for first and last buttons in buttonbox
$buttonbox_radius: 2em

// text edit
$font_edit: 11pt $font_mono
$edit_bg: opacify($widget_bg, 1)*1.2
$edit_fg: #444
// focused
$edit_focused_bg: $edit_bg*1.2
$edit_focused_fg: #222

// window
$window_buttons_right: true
$window_layer:3
$window_radius: 0px
$top_window_layer:999
$window_opacity: 0.4
$focused_window_opacity: 1
$top_window_opacity: 0.7

// window title
$title_fg: white
$title_bg: black
$title_selected_fg: black
$title_selected_bg: $widget_selected_bg
$title_focused_fg: $title_selected_fg
$title_focused_bg: opacify($widget_selected_bg, 1)+#444
$title_radius: 0px

$selection_transparency: 0.3

$tab_pull: 0.4em
$tab_radius: 0px

$item_radius: 3px

// viewer cell padding in layout >1x1
$view_padding: 4px
$view_selected_bg: $title_selected_bg*0.75

// notifications
$notification_layer:9999
$notification_fg: $widget_fg
$notification_bg: $widget_bg
$notification_opacity: 0.85
$notification_radius: 50px
//$notification_border: 2px solid $widget_bg*0.5
$notification_border: 0px
//$notification_x: left
$notification_x: right
//$notification_y: top
$notification_y: bottom

