@mixin rounded($radius: 10px, $side1: 0, $side2: 0) {
    @if $side1 == 0 {
        border-radius: $radius;
        -moz-border-radius: $radius;
        -webkit-border-radius: $radius;
    } @else if $side2 == 0 {
        border-#{$side1}-radius: $radius;
        -moz-border-radius-#{$side1}: $radius;
        -webkit-border-radius-#{$side1}: $radius;
    } @else {
        border-#{$side1}-#{$side2}-radius: $radius;
        -moz-border-radius-#{$side1}#{$side2}: $radius;
        -webkit-border-radius-#{$side1}#{$side2}: $radius;
    }
}

@mixin transitions($transition) {
    -webkit-transition: unquote($transition);
    -moz-transition: unquote($transition);
    -o-transition: unquote($transition);
    transition: unquote($transition);
}

@mixin transitionsx($transition) {
    -webkit-transition: -webkit-#{unquote($transition)};
    -moz-transition: -moz-#{unquote($transition)};
    -o-transition: -o-#{unquote($transition)};
    transition: unquote($transition);
}

@mixin box-shadow($shadow) {
    box-shadow: $shadow;
    -webkit-box-shadow: $shadow;
    -moz-box-shadow: $shadow;
    -o-box-shadow: $shadow;
}

@mixin outset($outset_bg:$widget_bg, $outset_shadow:$widget_bg, $depth:2px) {
    border: $depth solid $outset_bg * 0.4 + $outset_shadow * 0.4;
    border-left: $depth solid $outset_bg * 0.4 + $outset_shadow * 1.1;
    border-top: $depth solid $outset_bg * 0.4 + $outset_shadow * 1.1;
    @include box-shadow(0 0 8px transparentize(black, 0.2));
}

@mixin inset($inset_bg:$widget_bg, $inset_shadow:$widget_bg, $depth:1px) {
    border: $depth solid $inset_bg * 0.4 + $inset_shadow * 0.4;
    border-right: $depth solid $inset_bg * 0.2 + $inset_shadow;
    border-bottom: $depth solid $inset_bg * 0.2 + $inset_shadow;
    @include box-shadow(inset 0 0 4px transparentize($inset_shadow*0.5, 0.6));
}

@mixin inset-text($fg:$widget_fg) {
    @if opacify($fg, 1) - #800 == black {
        text-shadow: transparentize(white - opacity($fg), 0.2), 0 1px 0px;
    } @else {
        text-shadow: transparentize(white - $fg, 0.2) 0 -1px 0px;
    }
}

@mixin linear-gradient($angle, $colors) {
    background-image: -webkit-linear-gradient(#{$angle}deg, unquote($colors));
    background-image: -moz-linear-gradient(#{$angle}deg, unquote($colors));
    background-image: linear-gradient(#{$angle}deg, unquote($colors));

}

