/* serif font */
/* sans-serif font */
@import url('http://fonts.googleapis.com/css?family=Molengo');
/* monospace font */
@import url('http://fonts.googleapis.com/css?family=Inconsolata');
body {
  background: #444444 url("img/bg.png") repeat;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font: 11pt "Molengo", sans-serif; }

a {
  font-weight: inherit;
  color: #662200; }

.moka-widget {
  -webkit-transition: opacity .2s ease-in-out, background-color .2s ease-in-out, color .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out, background-color .2s ease-in-out, color .2s ease-in-out;
  -o-transition: opacity .2s ease-in-out, background-color .2s ease-in-out, color .2s ease-in-out;
  transition: opacity .2s ease-in-out, background-color .2s ease-in-out, color .2s ease-in-out;
  z-index: inherit; }

.moka-widgetlist-item.moka-current, .moka-tab.moka-current, .moka-view.moka-current > .moka-widget {
  color: rgba(0, 0, 0, 0.8);
  background-color: rgba(221, 170, 68, 0.4); }

input, textarea, .moka-tabs, .moka-input, .moka-close, .moka-title {
  outline: 0; }

.moka-window .moka-title.moka-focus, .moka-tab.moka-focus, .moka-widgetlist-item.moka-focus, .moka-button.moka-focus, .moka-imageview.moka-focus {
  color: black;
  background-color: rgba(221, 170, 68, 0.7); }

.moka-window .moka-title:hover, .moka-tab:hover, .moka-widgetlist-item:hover, .moka-button:hover, .moka-imageviewer:hover {
  color: black;
  background-color: rgba(221, 170, 68, 0.3); }

.moka-focus .moka-keyhint {
  text-decoration: underline; }

.moka-label {
  color: rgba(0, 0, 0, 0.8);
  padding: 0.5em 0.5em;
  text-shadow: rgba(254, 254, 254, 0.5) 0 1px 0px; }

.moka-current.moka-label {
  color: rgba(0, 0, 0, 0.8);
  text-shadow: rgba(254, 254, 254, 0.5) 0 1px 0px; }

.moka-focus.moka-label {
  color: black;
  text-shadow: rgba(254, 254, 254, 0.5) 0 1px 0px; }

.moka-buttonbox {
  width: 95%;
  text-align: right; }
  .moka-buttonbox .moka-buttonbox-item.moka-first {
    border-top-left-radius: 2em;
    -moz-border-radius-topleft: 2em;
    -webkit-border-radius-topleft: 2em;
    border-bottom-left-radius: 2em;
    -moz-border-radius-bottomleft: 2em;
    -webkit-border-radius-bottomleft: 2em; }
  .moka-buttonbox .moka-buttonbox-item.moka-last {
    border-top-right-radius: 2em;
    -moz-border-radius-topright: 2em;
    -webkit-border-radius-topright: 2em;
    border-bottom-right-radius: 2em;
    -moz-border-radius-bottomright: 2em;
    -webkit-border-radius-bottomright: 2em; }

.moka-button.moka-label {
  padding: 0.15em 0.4em;
  text-shadow: rgba(254, 254, 254, 0.5) 0 1px 0px; }

.moka-button {
  cursor: pointer;
  display: inline-block;
  text-align: center;
  margin: 6px 2px;
  border: 1px solid #868069;
  box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.7);
  -webkit-box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.7);
  -moz-box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.7);
  -o-box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.7);
  background-image: -webkit-linear-gradient(-90deg, #f6ebc1,#e0d6b0,#b3ab8c);
  background-image: -moz-linear-gradient(-90deg, #f6ebc1,#e0d6b0,#b3ab8c);
  background-image: linear-gradient(-90deg, #f6ebc1,#e0d6b0,#b3ab8c); }
  .moka-button:hover {
    color: black;
    box-shadow: inset 0 0 10px rgba(221, 170, 68, 0.3);
    -webkit-box-shadow: inset 0 0 10px rgba(221, 170, 68, 0.3);
    -moz-box-shadow: inset 0 0 10px rgba(221, 170, 68, 0.3);
    -o-box-shadow: inset 0 0 10px rgba(221, 170, 68, 0.3); }
  .moka-button.moka-focus {
    background-color: rgba(221, 170, 68, 0.5);
    background-image: -webkit-linear-gradient(-90deg, rgba(243, 187, 74, 0.5),rgba(221, 170, 68, 0.5),rgba(176, 136, 54, 0.5));
    background-image: -moz-linear-gradient(-90deg, rgba(243, 187, 74, 0.5),rgba(221, 170, 68, 0.5),rgba(176, 136, 54, 0.5));
    background-image: linear-gradient(-90deg, rgba(243, 187, 74, 0.5),rgba(221, 170, 68, 0.5),rgba(176, 136, 54, 0.5)); }
    .moka-button.moka-focus.moka-label {
      color: black;
      text-shadow: rgba(254, 254, 254, 0.5) 0 1px 0px; }

.moka-textedit textarea {
  vertical-align: top; }

.moka-lineedit input, .moka-textedit textarea, .moka-combo select {
  color: #444444;
  background-color: #ffffd3;
  border-color: white;
  text-shadow: white 0 0 0;
  min-width: 4em;
  font: 11pt Inconsolata, Consolas, monospace;
  margin: 0.2em 0.5em;
  border: 1px solid #b2aa8c;
  border-right: 1px solid #ffffd3;
  border-bottom: 1px solid #ffffd3;
  box-shadow: inset 0 0 4px rgba(112, 107, 88, 0.4);
  -webkit-box-shadow: inset 0 0 4px rgba(112, 107, 88, 0.4);
  -moz-box-shadow: inset 0 0 4px rgba(112, 107, 88, 0.4);
  -o-box-shadow: inset 0 0 4px rgba(112, 107, 88, 0.4); }
  .moka-lineedit input.moka-focus, .moka-textedit textarea.moka-focus, .moka-combo select.moka-focus {
    color: #222222;
    background-color: #fffffd;
    text-shadow: black 0 0 0; }

.moka-container.moka-vertical > .moka-widget, .moka-widgetlist.moka-vertical > .moka-widget {
  display: block; }
.moka-container.moka-horizontal > .moka-widget, .moka-widgetlist.moka-horizontal > .moka-widget {
  display: inline-block; }

.moka-tabs-container .moka-tab {
  border: 1px solid #9c957b; }
  .moka-tabs-container .moka-tab .moka-focus {
    color: black;
    background-color: rgba(221, 170, 68, 0.7); }
.moka-tabs-container.moka-horizontal > .moka-tab {
  border-bottom: 0;
  display: inline;
  vertical-align: top;
  /* don't put tab on multiple lines */
  display: inline-block;
  white-space: nowrap;
  padding: 0.1em 0.3em;
  margin: 0.4em 0.5em 0 0.5em;
  border-top-left-radius: 0px;
  -moz-border-radius-topleft: 0px;
  -webkit-border-radius-topleft: 0px;
  border-top-right-radius: 0px;
  -moz-border-radius-topright: 0px;
  -webkit-border-radius-topright: 0px;
  box-shadow: 0 -2px 4px rgba(89, 85, 70, 0.2);
  -webkit-box-shadow: 0 -2px 4px rgba(89, 85, 70, 0.2);
  -moz-box-shadow: 0 -2px 4px rgba(89, 85, 70, 0.2);
  -o-box-shadow: 0 -2px 4px rgba(89, 85, 70, 0.2);
  padding-bottom: 0.4em; }
  .moka-tabs-container.moka-horizontal > .moka-tab:hover, .moka-tabs-container.moka-horizontal > .moka-tab.moka-current {
    margin-top: 0;
    padding-bottom: 0.8em; }
.moka-tabs-container.moka-vertical {
  float: left; }
  .moka-tabs-container.moka-vertical > .moka-tab {
    border-right: 0;
    display: block;
    margin: 1.2em 0 1.2em 0.4em;
    border-top-left-radius: 0;
    -moz-border-radius-topleft: 0;
    -webkit-border-radius-topleft: 0;
    border-top-right-radius: 0;
    -moz-border-radius-topright: 0;
    -webkit-border-radius-topright: 0;
    border-top-left-radius: 0px;
    -moz-border-radius-topleft: 0px;
    -webkit-border-radius-topleft: 0px;
    border-bottom-left-radius: 0px;
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-radius-bottomleft: 0px;
    box-shadow: -2px 0 4px rgba(89, 85, 70, 0.2);
    -webkit-box-shadow: -2px 0 4px rgba(89, 85, 70, 0.2);
    -moz-box-shadow: -2px 0 4px rgba(89, 85, 70, 0.2);
    -o-box-shadow: -2px 0 4px rgba(89, 85, 70, 0.2);
    padding: 0.3em;
    padding-right: 0.4em; }
    .moka-tabs-container.moka-vertical > .moka-tab:hover, .moka-tabs-container.moka-vertical > .moka-tab.moka-current {
      margin-left: 0;
      padding-right: 0.8em; }

.moka-pages {
  float: left; }

.moka-page {
  border: 1px solid #9c957b; }

.moka-widgetlist {
  margin: auto;
  padding: 0.2em;
  text-align: left; }
  .moka-widgetlist.moka-focus .moka-widgetlist-item.moka-current {
    color: black;
    background-color: rgba(221, 170, 68, 0.7); }

.moka-widgetlist-item:nth-child(even) {
  background-color: #ebe0b8; }
.moka-widgetlist-item, .moka-widgetlist-item:nth-child(even) {
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  margin: 0.3em;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px; }
  .moka-widgetlist-item.moka-focus, .moka-widgetlist-item:nth-child(even).moka-focus {
    background-color: rgba(221, 170, 68, 0.7); }
  .moka-widgetlist-item.moka-current, .moka-widgetlist-item:nth-child(even).moka-current {
    background-color: rgba(221, 170, 68, 0.4); }
  .moka-widgetlist-item:hover, .moka-widgetlist-item:nth-child(even):hover {
    background-color: rgba(221, 170, 68, 0.3); }

.moka-viewer, .moka-viewer .moka-table {
  height: 100%; }
  .moka-viewer, .moka-viewer.moka-table, .moka-viewer .moka-table, .moka-viewer .moka-table.moka-table {
    width: 100%;
    overflow: hidden; }
  .moka-viewer.moka-layout-2x1, .moka-viewer.moka-layout-2x1 .moka-table, .moka-viewer .moka-table.moka-layout-2x1, .moka-viewer .moka-table.moka-layout-2x1 .moka-table {
    width: auto;
    margin: auto; }
    .moka-viewer.moka-layout-2x1 .moka-view, .moka-viewer.moka-layout-2x1 .moka-table .moka-view, .moka-viewer .moka-table.moka-layout-2x1 .moka-view, .moka-viewer .moka-table.moka-layout-2x1 .moka-table .moka-view {
      padding-left: 0;
      padding-right: 0; }

.moka-view > .moka-widget {
  margin: auto; }

.moka-viewer:not(.moka-layout-1x1) .moka-view {
  padding: 4px; }
  .moka-viewer:not(.moka-layout-1x1) .moka-view.moka-current > .moka-widget {
    outline: 4px solid rgba(165, 127, 51, 0.7); }
    .moka-viewer:not(.moka-layout-1x1) .moka-view.moka-current > .moka-widget img {
      margin-bottom: -4px; }

.moka-viewer .moka-table {
  margin: auto;
  border-collapse: collapse; }

.moka-window {
  border: 1px solid black;
  opacity: 0.4;
  z-index: 3;
  /* on top */
  position: absolute;
  background-color: #e0d6b0;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 2px solid #b2aa8c;
  border-left: 2px solid white;
  border-top: 2px solid white;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
  -o-box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
  border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px; }
  .moka-window .moka-body {
    overflow: auto; }
  .moka-window .moka-title, .moka-window .moka-body {
    margin: 3px 3px; }
  .moka-window .moka-title {
    font: 11pt "Molengo", sans-serif;
    padding: 0.1em 0.5em;
    text-align: center;
    color: white;
    background-color: black;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border: 1px solid #b2aa8c;
    border-right: 1px solid #ffffd3;
    border-bottom: 1px solid #ffffd3;
    box-shadow: inset 0 0 4px rgba(112, 107, 88, 0.4);
    -webkit-box-shadow: inset 0 0 4px rgba(112, 107, 88, 0.4);
    -moz-box-shadow: inset 0 0 4px rgba(112, 107, 88, 0.4);
    -o-box-shadow: inset 0 0 4px rgba(112, 107, 88, 0.4); }
    .moka-window .moka-title .moka-label {
      color: white;
      display: inline;
      text-shadow: transparent 0 0 0; }
  .moka-window.top_window {
    opacity: 0.7; }
  .moka-window.moka-focus {
    opacity: 1; }
  .moka-window.moka-focus {
    z-index: 999; }
    .moka-window.moka-focus .moka-title {
      color: black;
      background-color: rgba(221, 170, 68, 0.7); }
      .moka-window.moka-focus .moka-title .moka-label {
        color: black; }
      .moka-window.moka-focus .moka-title:focus {
        color: black;
        background-color: #ffee88; }
        .moka-window.moka-focus .moka-title:focus .moka-label {
          color: black; }
  .moka-window:hover {
    opacity: 1; }
  .moka-window .moka-window-button {
    float: right;
    opacity: 0.6;
    display: inline; }
    .moka-window .moka-window-button:hover, .moka-window .moka-window-button:focus {
      opacity: 1;
      color: white;
      text-shadow: #ddd 0 0 7px; }
  .moka-window .moka-close:before {
    content: '\2297'; }
  .moka-window .moka-maximize:before {
    content: '\2299'; }

#moka-notification-layer {
  position: fixed;
  z-index: 9999;
  left: 0;
  bottom: 0; }

.moka-notification {
  margin: 0.5em;
  white-space: nowrap;
  color: black;
  background-color: #e0d6b0;
  padding: 0.5em 1.5em;
  border: 0px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  border-radius: 50px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  opacity: 0.85; }
  .moka-notification:hover {
    opacity: 1; }

.moka-found {
  outline: 2px dashed red; }
